---
layout: default
---


{% if page.recording_uri or page.slides_uri%}
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
    
      {% if page.recording_uri %}
        {% if page.slides_uri %}
      <div class="col-md-6">
        {% else %}
      <div class="col-md-6 col-md-offset-3">
        {% endif %}
        <div class="block">
          <h2>Recordings</h2>
          <p>{{ page.recording_uri }}</p>
          <a class="btn btn-default btn-call-to-action" href="{{ page.recording_uri }}">View Recording</a>
        </div>
      </div>
      {% endif %}
            
      {% if page.slides_uri %}
        {% if page.recording_uri %}
      <div class="col-md-6">
        {% else %}
      <div class="col-md-6 col-md-offset-3">
        {% endif %}
        <div class="block">
          <h2>Slides</h2>
          <p>{{ page.slides_uri }}</p>
          <a class="btn btn-default btn-call-to-action" href="{{ page.slides_uri }}">View Slides</a>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</section>
{% endif %}

<!-- Call to action Start -->
<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block">
          <h2>Abstract</h2>

{{ page.content }}

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="speaker">
  <div class="container">
  
{% for speaker in page.speakers %}
    <div class="row">
      <div class="col-md-2 col-md-offset-2 col-xs-3 col-xs-offset-3">
        <div class="block speaker-image">
{% if speaker.photo  %}
          <img src="{{ speaker.photo | relative_url }}">          
{% else %}
          <img src="/img/speakers/nemo.png">
{% endif %}
        </div>
      </div>

      <div class="col-md-6 col-xs-10 col-xs-offset-1">
        <div class="block">
          <h2>{{ speaker.name }}</h2>

{{ speaker.bio }}

        </div>
      </div>
    </div>

    <div class="row">&nbsp;</div>    
{% endfor %}  

  </div>
</section>
